* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #35155C;
}


.selecioneJogo {
   padding: 30px;
   display: flex;
   flex-wrap: wrap;
flex-direction: column;
   justify-content: center;
}

.selecioneJogo h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.jogo {
    margin: 0 auto;
    width: 45vw;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    display: flex;
}


.btn {
    background-color: #6428AD;
    margin: 30px;
    width: 350px;
    height: 80px;
    font-size: 26px;
    border-radius: 60px;
    font-weight: bold;
    border-style: none;
    color: #fff;
    cursor: pointer;
}


/* Info game */

.areaExplicativa{
    padding: 40px;
    margin-top: 15vh;
    background-color: #170928;
    border-radius: 30px;
    display: flex;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.areaExplicativa div{
    display: flex;
}
.areatextual{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.areatextual h4{
    font-size: 36px;
    color: #D0A9FF;
}

.areatextual p{
    padding: 20px 30px 0 0;
    font-size: 22px;
}

.areaExplicativa .area02{
    display: flex;
    flex-direction: column;
}


.btns #purpleclaro {
    background-color: #AA7AE6;

}

.btns #purpleescuro {
    background-color: #35155C;
}

.btns{
    display: flex;
    flex-direction: row;
}


.btn{
    width: 10vw;
}


.voltar{
    margin-right: -30px;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 300;
    float: left;
    display: block;
}


#select{
    border: #AA7AE6 4px solid;
    border-radius: 30px;
}