* {
    margin: 0;
    padding: 0;
    
}

.corpo {
    background: #170928;
}

/* Header */

.corpo header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    
}

.corpo .contents {
    display: flex;
    flex-direction: row;
}

.corpo .icon {
    padding: 20px;
    margin-bottom: -50px;
    
}

.corpo header h2 {
    color: #7E32DB;
    font-size: 120px;
    font-family: 'Poppins', sans-serif;
}

.corpo header h4 {
    color: #fff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.corpo header .areaDeTexto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.descricaoDeProjeto {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 10px 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 0 450px;
    
}


.btns {
    text-align: center;

}

.btns button {
    margin: 30px;
    width: 300px;
    height: 80px;
    font-size: 23px;
    border-radius: 50px;
    font-weight: bold;
    border-style: none;
    color: #fff;
    cursor: pointer;
    
}

.btns #purpleclaro {
    background-color: #AA7AE6;

}

.btns #purpleescuro {
    background-color: #7E32DB;
}


.sobre{
    margin-top: 130px;
    padding: 100px 0 200px;
    background-color: #7E32DB;
    border-radius: 100em/10em;
    background: #6428AD;
    box-shadow: 0px -20px 100px rgba(113, 0, 255, 0.25);
}

.sobre h2, .tutorial h2{
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.divisor{
    background-color: #170928;
    width: 5vw;
    height: 10px;
    margin: 0 auto;
    border-radius: 30px;
}

.sobre .descricaoDeProjeto{
    margin-top: 50px;
    padding: 0 300px;
    
}

.sobre a{
    color: #fff;
}


.membros div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* estrela */

.liqelixir{
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
}

.liqelixir img{
    margin-top: -300px;
}

/* Tutorial */

.tutorial h2{
    margin-top: -50px;
    color: #AA7AE6;
    
}

.tutorial .divisor{
    background: #AA7AE6;
}

.tutorial{
    margin: 0 200px;
    display: flex;
    flex-direction: column;
}

.tutorial .areaDeTexto p{
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}
.tutorial .areaDeTexto h4{
    color: #AA7AE6;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.tutorial .areaDeTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tutoriais{
    margin-top: 100px;
}

.tutorial .cases{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.cliqueAqui{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 100px;
    color: #AA7AE6;
    padding: 0 200px;
    font-weight: 200;
}


.cases img{
    height: 500px;
    border: 3px solid #fff;
    border-radius: 30px;
}

.tutorial .btns{
    display: flex;
    justify-content: center;
}

.tutorial .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.tutorial{
    display: flex;
}

.align-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

